[submodule "docs/themes/hugo-theme-learn"]
	path = docs/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "gogatekeeper.github.io"]
	path = gogatekeeper.github.io
	url = git@github.com:gogatekeeper/gogatekeeper.github.io.git
[submodule "docs/public"]
	path = docs/public
	url = git@github.com:gogatekeeper/gogatekeeper.github.io.git
