<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <style>
    .oops {
      font-size: 9em;
      letter-spacing: 2px;
    }
	.message {
      font-size: 3em;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>
  <table class="center">
    <tr>
      <th class="oops">Oops!</th>
    </tr>
    <tr>
      <th class="message">400 Bad Request</th>
    </tr>
    <tr>
      <th>Sorry, an error has occured, please contact your administrator</th>
    </tr>
  </table>
</body>
</html>
