name: Release

# Only trigger this action when a new release is published
on:
  release:
    types: [published]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      # Setup the workflow to use the specific version of Go
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16.4'
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@v2
      # Cleans up unreachable Git objects and convert a shallow clone to a regular one if needed
      - name: Unshallow
        run: git fetch --prune --unshallow
      # Run tests prior to release
      - name: Test
        run: make test
      # Publish the binaries
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
      - name: "Create k3d Cluster for E2E testing"
        uses: AbsaOSS/k3d-action@v2
        with:
          cluster-name: "testcluster"
          args: >-
            -p "8081:80@loadbalancer"
      - name: "Run E2E tests"
        run: |
          k3d kubeconfig merge testcluster --kubeconfig-switch-context
          KUBECONFIG=~/.k3d/kubeconfig-testcluster.yaml kubectl apply -f ./e2e/k8s/manifest.yml
          go test -v --tags=e2e
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
